.container {
  display: flex;
  /* background: red; */
}

.col {
  /* padding: 20px; */
  width: 50%;
}

.colL {
  /* background: green; */
  padding-right: 20px;
}

.colR {
  padding-left: 20px;
  /* background: blue; */
}
